<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f2203116-1c86-4a0e-b942-d0b4b6361b4a" name="Cenário de Teste - SUBTRAIR" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f2203116-1c86-4a0e-b942-d0b4b6361b4afileName">Cenário-de-Teste---SUBTRAIR</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>